.card.panel {
    margin-bottom: 1em;
    display: block;
}

.card.panel .panel-body {
    padding-top: 2em;
    padding-bottom: 2em;
}

.card.panel .panel-heading {
    display: none;
}

.card.panel .alert {
    margin-top: 1em;
}

.card.panel.panel-danger .panel-heading a {
    color: #a94442;
}

ul, ol {
    list-style: none none;
    margin: 0;
    padding: 0;
}

#inputModelDescription {
    height: 200px;
    width: 100%;
    margin-top: 1em;
}

select.attribute {
    width: 60%;
    padding: 0.5em;
}

select.weight {
    width: 25%;
    padding: 0.5em;
}

ul.services li a.cafe {
    background: url('/static/web/images/service-icons/cafe.png');
}