<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Herri - Find your place in your community</title>
    <link rel="stylesheet" href="/static/web/leaflet.css" />
    <link rel="stylesheet" href="/static/web/leaflet.label.css" />
    <link rel="stylesheet" href="/static/web/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/web/stylesheet.css" />
	<link rel="stylesheet" href="/static/web/normalize.css" />

    {% block stylesheets %}{% endblock %}

</head>
<body>

    <div class="container" role="main">

        <div class="page-header">

            <button class="btn btn-info btn-lg" style="float: right" onclick="document.location = '/model/new'">Create your own model</button>

            <h1>
                <a href="/">
                    <img src="/static/web/images/herri-logo.jpg" style="height: 70px;" alt="Herri logo" />
                </a>
                <small>Find your place in your community</small>
            </h1>
        </div>

        {% block content %}{% endblock %}

    </div>

    <script type="text/javascript" src="/static/web/leaflet-src.js"></script>
    <script type="text/javascript" src="/static/web/leaflet.label.js"></script>
    <script type="text/javascript" src="/static/web/jquery-2.1.1.js"></script>

    {% block javascript %}{% endblock %}

</body>
</html>
