{% extends "web/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<div id="map" class="img-thumbnail"></div>
		</div>
	
		<div class="col-md-3">
			<div id="modelDetails" class="text panel panel-default">
				<h2 id="modelName">
					Autism support groups
				</h2>	
				
				<p id="modelDescription">
					This is a map of population density overlayed with markers marking where autism support groups are located within Victoria.
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript" src="/static/web/herri-map.js"></script>
    <script type="text/javascript">

        var indexModel = new Herri.IndexModel( {{ index_model.id }}, {{ index_model.to_json|safe }}, {{ json_index_model_data|safe }} );
        var map = new Herri.Map( new Herri.Server(), indexModel ).setBounds( {{ map_bounds|safe }} );

        {% if mapbox_basemap != None %}
        map.setBaseMap( new Herri.BaseMap.MapBox( '{{ mapbox_basemap|safe }}' ) );
        {% endif %}

        map.init( [ -37.1078, 145.0195 ], {{ default_zoom }}, {{ min_zoom }} );

		var loadDataQuery = function() {
            var host = 'overpass-api.de';
            var port = 80;
            var path = '/api/interpreter';
			var query = '?data=node[name=\"Gielgen\"];out;';
            var dataUrl = "http://" + host + ":" + port + path + query;

            $.ajax({
                type: "GET",
                url: dataUrl,
                dataType: 'xml',
                success: function(data){console.log('data')}
            });
        };

        var setupSearch = function( map ) {
            $( '#searchAndAddLayer' ).change( function() {

                var searchTerm = this.value;
                var osmLink = "http://nominatim.openstreetmap.org/search";
                var mapQuestLink = "http://open.mapquestapi.com/nominatim/v1/search";

                var mapBoundsString =
                    /* left */   mapBounds[ 0 ][ 1 ] + "," +
                    /* top  */   mapBounds[ 0 ][ 0 ] + "," +
                    /* right  */ mapBounds[ 1 ][ 1 ] + "," +
                    /* bottom */ mapBounds[ 1 ][ 0 ];

                $.getJSON(
                    mapQuestLink,
                    {
                        format : "json",
                        q : searchTerm,
                        viewbox : mapBoundsString,
                        bounded : 1,
                        limit : 10
                    },
                    function( response ) {

                        var geoJsonPoints = [];
                        for ( var i = 0; i < response.length; i ++ ) {
                            geoJsonPoints.push( response[ i ].geojson );
                        }

                        console.log( "Num results: " + response.length );
                        console.log( response );

                        L.geoJson( geoJsonPoints, {
                            style: style
                        }).addTo( map );

                    }
                )
            });
        };

    </script>


{% endblock %}
